*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Baloo 2', cursive;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Open Sans', sans-serif;
}